<template>
  <div id="app">
    <b-container class="bv-example-row">
      <b-row>
        <b-col>
          <div>
            <b-form @submit="onSubmit" @reset="onReset" v-if="show">
              <b-form-group
                id="input-group-1"
                label="nombre"
                label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  v-model="form.nombre"
                  type="text"
                  placeholder="Ingresar nombre"
                  required
                ></b-form-input>
              </b-form-group>

              <b-form-group
                id="input-group-2"
                label="descripcion"
                label-for="input-2"
              >
                <b-form-input
                  id="input-2"
                  v-model="form.descripcion"
                  placeholder="Ingrese descripcion"
                  required
                ></b-form-input>
              </b-form-group>

              <b-button type="submit" variant="primary">Guardar</b-button>
              <b-button type="reset" variant="danger">Limpiar</b-button>
            </b-form>
          </div>
        </b-col>
        <b-col>
          <div>
            <b-table :fields="fields" striped hover :items="items">
              <template #cell(item)="data">
                <b-button variant="danger" @click="editar(data.item)"
                  >Editar</b-button
                >
                <b-button variant="success" @click="eliminar(data.item.id)"
                  >Eliminar</b-button
                >
              </template>
            </b-table>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {},
  data() {
    return {
      fields: ["item", "nombre", "descripcion"],
      items: [],
      form: {
        id: "",
        nombre: "",
        descripcion: "",
      },
      foods: [
        { text: "Select One", value: null },
        "Carrots",
        "Beans",
        "Tomatoes",
        "Corn",
      ],
      show: true,

      edit: false,
    };
  },

  mounted() {
    this.listar();
  },
  methods: {
    async eliminar(id) {
      const body = {
        id: id,
      };
      console.log(body);
      const response = await fetch(
        "http://127.0.0.1:8000/api/categoria/destroy",
        {
          method: "POST", // *GET, POST, PUT, DELETE, etc.
          mode: "cors", // no-cors, *cors, same-origin
          cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
          credentials: "same-origin", // include, *same-origin, omit
          headers: {
            "Content-Type": "application/json",
            // 'Content-Type': 'application/x-www-form-urlencoded',
          },
          redirect: "follow", // manual, *follow, error
          referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
          body: JSON.stringify(body),
        }
      );

      const respuesta = await response.json();
      const { data } = respuesta;
      alert(data);
      this.listar();
    },

    async editar(obj) {
      this.form = {
        id: obj.id,
        nombre: obj.nombre,
        descripcion: obj.descripcion,
      };
/*
      const response = await fetch("http://127.0.0.1:8000/api/categoria/update", {
        method: "POST", // *GET, POST, PUT, DELETE, etc.
        mode: "cors", // no-cors, *cors, same-origin
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        credentials: "same-origin", // include, *same-origin, omit
        headers: {
          "Content-Type": "application/json",
          // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        redirect: "follow", // manual, *follow, error
        referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
        body: JSON.stringify(obj),
      });

      const respuesta = await response.json();
      const { data } = respuesta;
      alert(data);
      this.listar();
      */
    },

    async listar() {
      const response = await fetch("http://127.0.0.1:8000/api/categoria/list");
      const respuesta = await response.json();
      const { data } = respuesta;
      this.items = data;
      console.log(data);
    },

    async guardar() {
      const response = await fetch(
        this.form.id == ""
          ? "http://127.0.0.1:8000/api/categoria/add"
          : "http://127.0.0.1:8000/api/categoria/update",
        {
          method: "POST", // *GET, POST, PUT, DELETE, etc.
          mode: "cors", // no-cors, *cors, same-origin
          cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
          credentials: "same-origin", // include, *same-origin, omit
          headers: {
            "Content-Type": "application/json",
            // 'Content-Type': 'application/x-www-form-urlencoded',
          },
          redirect: "follow", // manual, *follow, error
          referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
          body: JSON.stringify(this.form),
        }
      );

      const respuesta = await response.json();
      const { data } = respuesta;
      alert(data);
      this.listar();
    },

    onSubmit(event) {
      event.preventDefault();
      this.guardar();
    },
    onReset(event) {
      event.preventDefault();
      // Reset our form values
      this.form.nombre = "";
      this.form.descripcion = "";
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
